annotated-types==0.6.0
ansible==8.6.1
ansible-base==2.10.8
ansible-compat==4.1.10
ansible-core==2.15.6
ansible-lint==6.22.0
anyio==3.7.1
apache-libcloud==3.2.0
argcomplete==1.8.1
asgiref==3.7.2
attrs==23.1.0
black==23.11.0
blinker==1.7.0
bracex==2.4
cachecontrol==0.13.1
cairocffi==1.2.0
certifi==2023.7.22
cffi==1.14.5
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==41.0.5
dbus-python==1.2.16
dep-logic==0.0.4
distlib==0.3.8
distro-info==1.0+deb11u1
Django==4.2.8
dnspython==2.0.0
exceptiongroup==1.2.0
fastapi==0.105.0
filelock==3.13.1
findpython==0.4.1
flask==3.0.2
httplib2==0.18.1
idna==3.4
importlib-metadata==7.0.0
importlib-resources==5.0.7
installer==0.7.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==0.10.0
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
lockfile==0.12.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
msgpack==1.0.7
mypy-extensions==1.0.0
netaddr==0.7.19
ntlm-auth==1.4.0
packaging==23.2
pathspec==0.11.2
pdm==2.11.1
platformdirs==4.0.0
ply==3.11
pycairo==1.16.2
pycparser==2.20
pycryptodomex==3.9.7
pycurl==7.43.0.6
pydantic==2.5.2
pydantic-core==2.14.5
Pygments==2.16.1
PyGObject==3.38.0
pykerberos==1.1.14
pyparsing==2.4.7
pyproject-hooks==1.0.0
python-apt==2.2.1
python-dotenv==1.0.0
pywinrm==0.3.0
PyYAML==6.0.1
referencing==0.31.0
requests==2.31.0
requests-kerberos==0.12.0
requests-ntlm==1.1.0
requests-toolbelt==0.9.1
resolvelib==1.0.1
rich==13.7.0
rpds-py==0.13.0
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
selinux==3.1
shellingham==1.5.4
simplejson==3.17.2
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.4
starlette==0.27.0
subprocess-tee==0.4.1
tomli==2.0.1
tomlkit==0.12.3
typing-extensions==4.8.0
ufw==0.36
unattended-upgrades==0.1
unearth==0.12.1
urllib3==2.1.0
virtualenv==20.25.0
wcmatch==8.5
werkzeug==3.0.1
xcffib==0.8.1
xmltodict==0.12.0
yamllint==1.33.0
zipp==3.17.0
